* {
    box-sizing: border-box;
}

body {
    font-family: cursive, fantasy;
    position: relative;
}

.container {
    margin: 20px auto;
}

.row {
    display: flex;
}

hr {
    border: 1px solid #eee;
}

.game-info {
    display: flex;
}

.game-info .game-name {
    flex: 1;
}

.game-info .category {
    flex: 1;
    text-align: right;
}

.game-info .category span {
    text-transform: capitalize;
    color: #E91e63;
    font-weight: bold;
}

.row {
    display: flex;
}

.row .draw {
    flex: 1;
    background-color: #f7f7f7;
    padding: 20px;
    height: 324px;
}

.row .draw .hangman-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    left: -60px;
    display: none;
}

.hangman-draw .stand {
    display: none;
}

.hangman-draw .stand::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%, 0);
    background-color: #222;
}

.hangman-draw .hang {
    display: none;
}

.hangman-draw .hang::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100px;
    left: 30px;
    top: 15px;
    background-color: #222;
}

.hangman-draw .hang::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 4px;
    left: 130px;
    top: 15px;
    background-color: #222;
}

.hangman-draw .rope {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px dashed #222;
    left: 97px;
    top: 41px;
    display: none;
}

.hangman-draw .Man .head {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    left: 107px;
    top: 51px;
    display: none;
}

.hangman-draw .Man .body {
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 100px;
    left: 130px;
    top: 100px;
    display: none;
}

.hangman-draw .Man .hands {
    display: none;
}

.hangman-draw .Man .hands::after,
.hands::before {
    content: '';
    position: absolute;
    background-color: #222;
    top: 145px;
    width: 60px;
    height: 4px;
}

.hangman-draw .Man .hands::before {
    left: 75px;
    transform: rotate(-30deg);
}

.hangman-draw .Man .hands::after {
    left: 129px;
    transform: rotate(30deg);
}

.hangman-draw .Man .legs {
    display: none;
}

.hangman-draw .Man .legs::after,
.legs::before {
    content: '';
    position: absolute;
    background-color: #222;
    top: 215px;
    width: 60px;
    height: 4px;
}

.hangman-draw .Man .legs::before {
    left: 78px;
    transform: rotate(-40deg);
}

.hangman-draw .Man .legs::after {
    left: 126px;
    transform: rotate(40deg);
}

.draw .hangman-draw.wrong-1 {
    display: block;
}

.draw .hangman-draw.wrong-2 .stand {
    display: block;
}

.draw .hangman-draw.wrong-3 .hang {
    display: block;
}

.draw .hangman-draw.wrong-4 .rope {
    display: block;
}

.draw .hangman-draw.wrong-5 .Man .head {
    display: block;
}

.draw .hangman-draw.wrong-6 .Man .body {
    display: block;
}

.draw .hangman-draw.wrong-7 .Man .hands {
    display: block;
}

.draw .hangman-draw.wrong-8 .Man .legs {
    display: block;
}


.row .letters {
    flex: 1;
    padding: 20px;
}

.row .letters.finished {
    pointer-events: none;
}

.row .letters .innerContainer {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    text-align: center;
    align-self: center;
}

.row .letters span {
    width: 45px;
    height: 45px;
    padding: 4px 6px;
    cursor: pointer;
    letter-spacing: 5px;
    background-color: #009890;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.letters .letterBox.clicked {
    opacity: .2;
    background-color: #0f0f0f;
    pointer-events: none;
}

.row .letters span:hover {
    background-color: #E91e63;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .row .letters .innerContainer {
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        gap: 6px;
    }
}

.guess-letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    padding-top: 10px;
    min-height: 100px;
    padding-top: 16px;
    background-color: #f8f8f8;
}

.guess-letter span {
    font-size: 24px;
    text-transform: uppercase;
    background-color: #fdfdfd;
    border-bottom: 4px solid #222;
    width: 55px;
    height: 55px;
    padding: 4px 6px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    transition: 2s;
}

.guess-letter span.empSpan {
    position: relative;
    background-color: #f8f8f8;
    border-bottom: none;
}

.guess-letter span.empSpan::before {
    content: '';
    position: absolute;
    background-color: #222;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popUp {
    position: absolute;
    background-color: rgb(90, 0, 0);
    min-width: 309px;
    margin: 20px auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 15px;
}